body {
  font-family: 'Roboto', sans-serif;
  background-color: #E5AB8A;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 40px;
  color: #22306D
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
  table-layout: fixed;
}

td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  transition: background-color 0.3s, color 0.3s;
}

.highlighted {
  background-color: #22306D;
  color: white
}
